$breakpoint-tablet: 768px;

.carousel {
    .carousel-inner {
        .carousel-item {
            height: 100vh;
            .carousel-image {
                width: 100%;
                height: auto;
                filter: brightness(65%);
                object-fit: fill;
               
            }
        }
    }
}

@media (max-width: $breakpoint-tablet) {
    .carousel-item {
        height: 28vh !important;
    }

    .carousel-control-prev-icon {
        width: 20px;
        height: 20px;
    }

    .carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }
}