.testi-prodi {
    .carousel {
        width: 500px;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .carousel .item {
        color: #999;
        font-size: 14px;
        text-align: center;
        overflow: hidden;
        min-height: 340px;
    }

    .carousel .item a {
        color: #eb7245;
    }

    .carousel .img-box {
        width: 200px;
        height: 200px;
        margin: 30px auto;
        border-radius: 50%;
    }

    .carousel .img-box img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 50%;
    }

    .carousel .testimonial-desc {
        padding: 30px 0;
    }

    .testimonial-desc {
        color: #000000;
        padding: 0 0 10px;
    }

    .carousel .overview {
        text-align: center;
        padding-bottom: 5px;
    }

    .carousel .overview b {
        color: #333;
        font-size: 15px;
        text-transform: uppercase;
        display: block;
        padding-bottom: 5px;
    }

    .carousel .star-rating i {
        font-size: 18px;
        color: #ffdc12;
    }

    .carousel .carousel-control {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: #999;
        text-shadow: none;
        top: 4px;
    }

    .carousel-control i {
        font-size: 20px;
        margin-right: 2px;
    }

    .carousel-control.left {
        left: auto;
        right: 40px;
    }

    .carousel-control.right i {
        margin-right: -2px;
    }

    .carousel .carousel-indicators {
        bottom: 15px;
    }

    .carousel-indicators li,
    .carousel-indicators li.active {
        width: 11px;
        height: 11px;
        margin: 1px 5px;
        border-radius: 50%;
    }

    .carousel-indicators li {
        background: #e2e2e2;
        border-color: transparent;
    }

    .carousel-indicators li.active {
        border: none;
        background: #888;
    }
}

.left-prodi-wrapper {
    position: relative;
    .main-prodi-detail {
    }
}

.testi-wrapper {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;

    img {
        width: 200px;
        height: auto;
        object-fit: cover;
    }
}

.gallery-title-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .gallery-link {
        font-size: 18px;
        margin-top: 5px;
    }
}

.card-gallery-wrapper {
    position: relative;

    .image-name {
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 185px;
        height: 40px;
        color: white;
        background-color: $primary;
        border-radius: 0 0 30px 0;
        text-align: center;
        padding: 10px 0;
        font-weight: bold;
        font-size: 13px;
    }

    .gallery-image {
        filter: brightness(70%);
        transition: 0.3s ease-in-out;

        &:hover {
            filter: brightness(100%);
        }
    }
}

.all-gallery-image {
    width: 100%;
    height: 250px;
}

.prodi-detail-image {
    margin: 0 auto;
}

.gallery-image {
    width: 100%;
    height: 250px;
}

.header {
    .navbar {
        background: transparent;
        position: absolute;
        z-index: 5;
        width: 100%;
    }

    .nav-item {
        .nav-link {
            font-size: 20;
            color: white;

            .active > a {
                border-bottom: 1px solid $blue;
            }
        }
    }
}

.client-wrapper {
    width: 100%;
    .greyscale {
        filter: grayscale(100%);
        transition: 0.5s ease-in-out;
        &:hover {
            filter: none;
        }
    }
}

.prodi-home-wrapper {
    position: relative;
    width: 100%;
    padding: 10px;
    .prodi-home-title {
        margin: 0.8em 0;
    }

    .prodi-icon {
        filter: brightness(30%);
        transition: 0.3s ease;
        align-self: center;
        margin: 0 auto;
        cursor: pointer;
        &:hover {
            filter: brightness(100%);
        }
    }
}

.article-card {
    border: none;
    cursor: pointer;

    .card-img-top {
        border-radius: 20px;
        max-height: 200px;
        min-height: 200px;
    }

    .card-body {
        margin-top: 1.5em;
        padding: 0;
    }
}

.ukm {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 500px;

    .card {
        border: 0;
        border-radius: 20px;
        .card-img-top {
            max-height: 200px;
            border-radius: 20px;
        }

        .card-body {
            padding: 0;
        }
    }
}

.prodi {
    background-color: #4e7436;
    min-height: 500px;
    width: 100%;
    border-radius: 0 0 50px 50px;
    .main {
        display: none;
    }
    .prodi-wrapper {
        .card {
            margin-top: 2em;
            margin-bottom: 2em;
            border-radius: 30px;
            background-color: transparent !important;
            border: none;
            cursor: pointer;
            .card-img-top {
                max-height: 200px;
                max-width: 200px;
                height: 200px;
                width: 200px;
                object-fit: contain;
                object-position: center;
                transition: 0.3s ease-in-out;
                filter: brightness(20%);

                &:hover {
                    filter: brightness(100%);
                }
            }

            .card-body {
                color: white;
                border-radius: 0 0 30px 30px;
            }
        }
    }
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}

.career-bg-wrapper {
    margin: 0;
    padding: 0;
}

.testimonial {
    margin: 0;
    background-color: #50653b;
    min-height: 300px;
    border-radius: 0 0 50px 50px;

    .testimonial-wrapper {
        width: 100%;
        max-height: 500px;

        .testimonial-image {
            width: 150px;
            height: 150px;
            border-radius: 360px;
            object-fit: cover;
            margin: 0 auto;
        }

        .testimonial-body {
            text-align: center;
            color: #fafafa;
            .title {
                font-weight: bold;
                font-size: 18px;

                &for {
                    font-size: 14px;
                }
            }

            .quote {
                font-style: italic;
                font-size: 14px;
                font-weight: lighter;

                &for {
                    font-size: 12px;
                }
            }
        }
    }
}

.partner {
    margin: 0;
    background-color: #50653b;
    min-height: 300px;
    max-height: 500px;
    padding: 20px 0;
    .container {
        .card-partner {
            border-radius: 2.875rem;
            max-height: 60px;
            height: 4.5rem;
            background-color: hsla(0, 0%, 100%, 0.94);

            .card-img-top {
                max-height: 60px;
                max-width: 60px;
                min-width: 60px;
            }
        }
    }
}

.wrapper-education {
    background-image: url("/assets/images/latar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 140vh;
    margin: 0;
    padding: 0;
    overflow: hidden;

    .education-text-wrapper {
        margin-top: 40%;
        margin-left: 18%;
        p {
            color: $gray-500;
        }
    }
}

.text-title {
    font-weight: 700;
    font-size: 20;
}

.quote {
    font-size: 22px;
    font-weight: 600;
}

.quote-content {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    color: $gray-600;
}

.footer-bs {
    background-color: white;
    padding: 60px 40px;
    color: $gray-600;
    margin-bottom: 20px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 6px;
}
.footer-bs .footer-brand,
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    padding: 10px 25px;
}
.footer-bs .footer-nav,
.footer-bs .footer-social,
.footer-bs .footer-ns {
    border-color: $gray-800;
}
.footer-bs .footer-brand h2 {
    margin: 0px 0px 10px;
}
.footer-bs .footer-brand p {
    font-size: 12px;
    color: $gray-500;
}

.footer-bs .footer-nav ul.pages {
    list-style: none;
    padding: 0px;
}
.footer-bs .footer-nav ul.pages li {
    padding: 5px 0px;
}
.footer-bs .footer-nav ul.pages a {
    color: $gray-500;
    font-weight: bold;
    text-transform: uppercase;
}
.footer-bs .footer-nav ul.pages a:hover {
    color: $gray-500;
    text-decoration: none;
}
.footer-bs .footer-nav h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer-bs .footer-nav ul.list {
    list-style: none;
    padding: 0px;
}
.footer-bs .footer-nav ul.list li {
    padding: 5px 0px;
}
.footer-bs .footer-nav ul.list a {
    color: $gray-500;
}
.footer-bs .footer-nav ul.list a:hover {
    color: $gray-500;
    text-decoration: none;
}

.footer-bs .footer-social ul {
    list-style: none;
    padding: 0px;
}
.footer-bs .footer-social h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.footer-bs .footer-social li {
    padding: 5px 4px;
}
.footer-bs .footer-social a {
    color: $gray-500;
}
.footer-bs .footer-social a:hover {
    color: $gray-500;
    text-decoration: none;
}

.footer-bs .footer-ns h4 {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.footer-bs .footer-ns p {
    font-size: 12px;
    color: $gray-500;
}

.parent-vision-mission {
    .list-vision-mission {
        margin: 0.5em 0;
    }
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.photo {
    width: 200px;
    height: auto;
    object-fit: fill;
    object-position: center;
}

ul {
    justify-content: center;
}
